<header>
  <nav class="navbar bg-dark" style:="position:absolute; top: 0%; width:100%">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
          <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
          WeAssist Hotel Listings
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="signup">signUp</a>
          </li>
        </ul>
      </div>
    </nav>
</header>