<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body" style=" background-color:#87A2FB;">
  <%- include('../partials/header'); %>

  <div class="vh-100 px-5 justify-content-center align-items-center h-100 p-5" style="width: 100%;">
    <div class="row g-5 ">
      <div class="col-md-4">
        <img src="" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Transcorp</h5>
            <p class="card-text">Nigeria <span style="color:yellow; font-size: 20px;">*****</span> </p>
            <p class="card-text">2 Beds </p>
            <p class="card-text">2 Bathrooms</p>
            <p class="card-text">Deluxe Superior Rooms</p>
            <a href="#" class="btn btn-primary">N80000</a>
            <a href="home" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
</footer>
