<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body" style=" background-color:#87A2FB ">
  <%- include('../partials/header'); %>

    
    <section class="vh-100" style="background-color:#87A2FB;">
    <div class="container p-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col">
    
            <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-3">Sign Up</p>
                <form action="/signup" method="POST">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" name ="fullname" id="form3Example1" class="form-control" />
                          <label class="form-label" for="form3Example1">Full Name</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" name="phoneNumber" id="form3Example2" class="form-control" />
                          <label class="form-label" for="form3Example2">Phone Number</label>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" name="email" id="form3Example3" class="form-control" />
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>
                  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" name="password" id="form3Example4" class="form-control" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                  
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                      <label class="form-check-label" for="form2Example33">
                        Subscribe to our newsletter
                      </label>
                    </div>
                  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>or sign up with:</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                  
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
                  
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
                  
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
                  </form>
        
            </div>
            <div class="col">
    <img src="" width="500px"
    class="img=fluid" alt="Sample image">
    <!-- style="width:30rem;" src="img/image1.jpeg"> -->
            </div>
        </div>
        
    </div>
    </section>
    
    
    
    
    
      <%- include('../partials/footer'); %>
  

    </body>
    </html>

    
   
  
